#title {
  background-color: #ff4c68;
  color:#fff;

}




body{
    font-family: "Montserrat";
}



h1{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height:1.5;

}

.container-fluid{
  padding: 3% 15%;
}

/* Navigation bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-style: "Montserrat-Light";
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width:60%;
  transform: rotate(25deg);

}

/* Features */

#features {
  padding: 7% 15%;
  background-color: #fff;
  text-align: center;

}
.features-box{
    text-align: center;
    padding: 5%
}

h3{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2.5rem;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;

}
.icon:hover{
  color:#ff4c68;
}


/* Testimonials */

#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

h2{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;

}

.testimonials-image{
  width : 15%;
  border-radius: 100%;
  margin: 20px
}

.carousel-item{
  padding: 7% 15%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
@media (max-width:991px)
{
  #title{
    text-align: center;
  }
.title-image{

  position: static;
  transform: rotate(0);
}
}

#pricing{
  padding :5%;
  text-align: center;
}
.pricing-button{
  padding : 1% 30% 1%;
}

#cta{
  background-color: #ff4c68;
  color:#fff;
  padding:5% 10% 15%;
  text-align: center;
}
.cta-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer{
  background-color: #fff;
  padding: 10% 10% 5%;
  text-align: center;
}
.social-media-icons{
  margin: 10px 5px;
}
